[submodule "G474RE-MPU6050/micro_ros_stm32cubemx_utils"]
	path = G474RE-MPU6050/micro_ros_stm32cubemx_utils
	url = https://github.com/TeeTyJunGz/micro_ros_stm32cubemx_utils_imu
[submodule "G474RE-MPU6050/MPU6050"]
	path = G474RE-MPU6050/MPU6050
	url = https://github.com/leech001/MPU6050
[submodule "src/megarover_samples_ros2"]
	path = src/megarover_samples_ros2
	url = https://github.com/atinfinity/megarover_samples_ros2
[submodule "G474RE-Firmware-FUN5/micro_ros_stm32cubemx_utils"]
	path = G474RE-Firmware-FUN5/micro_ros_stm32cubemx_utils
	url = https://github.com/TeeTyJunGz/micro_ros_stm32cubemx_utils_imu
